###########################################################
#
# Mapper configuration File. 
# This conf is used to generate a csv
# Please use the following syntax
#
# First Line : 
# Tables used on the query';'Itop Class to be imported;Reconciliation keys (way of identify the object univoquely on itop)
#
# E.g: inventario.user;Person;Name
###########################################################
test.orgs;Organization;Name
###########################################################
#
# After, that a file for each old 'mysql' column mapped to new 'itop' column
# E.g: matricula|Employee number
#
###########################################################
LEFT(Org_Name,3)|Code
Org_Name|Name
'Active'|Status
