##########################################################
#
# Mapper configuration File. 
# This conf is used to generate a csv
# Please use the following syntax
#
# First Line : 
# Tables used on the query';'Itop Class to be imported;Reconciliation keys (way of identify the object univoquely on itop)
#
# E.g: inventario.user;Person;Name
###########################################################
test.servers where IP LIKE '%.%.%.%'  ;Server;Organization->Name,Name
###########################################################
#
# After, that a line for each 'mysql' column mapped to an 'itop' column
# E.g: Notes|Description
#
###########################################################
Name|Name
IP|Management ip
'production'|Status
'Other org'|Organization->Name
'low'|Business criticity
Notes|Description
CONCAT('Sockets: ', CPU  )|cpu
Memory|ram
DATE_FORMAT(NOW(),'%Y-%m-%d')|End of warranty
Initial_Date|move to production date
